In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split

import torch
import torch.nn as nn
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score, classification_report, roc_curve

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [3]:
df = pd.read_csv(r'heart.csv')
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
df.dtypes

age           int64
sex           int64
cp            int64
trtbps        int64
chol          int64
fbs           int64
restecg       int64
thalachh      int64
exng          int64
oldpeak     float64
slp           int64
caa           int64
thall         int64
output        int64
dtype: object

In [5]:
cat_cols = ['sex','exng','caa','cp','fbs','restecg','slp','thall']
con_cols = ["age","trtbps","chol","thalachh","oldpeak"]

df = pd.get_dummies(df, columns = cat_cols, drop_first = True)

df

,age,trtbps,chol,thalachh,oldpeak,output,sex_1,exng_1,caa_1,caa_2,...,cp_2,cp_3,fbs_1,restecg_1,restecg_2,slp_1,slp_2,thall_1,thall_2,thall_3
0,63,145,233,150,2.3,1,True,False,False,False,...,False,True,True,False,False,False,False,True,False,False
1,37,130,250,187,3.5,1,True,False,False,False,...,True,False,False,True,False,False,False,False,True,False
2,41,130,204,172,1.4,1,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3,56,120,236,178,0.8,1,True,False,False,False,...,False,False,False,True,False,False,True,False,True,False
4,57,120,354,163,0.6,1,False,True,False,False,...,False,False,False,True,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,140,241,123,0.2,0,False,True,False,False,...,False,False,False,True,False,True,False,False,False,True
299,45,110,264,132,1.2,0,True,False,False,False,...,False,True,False,True,False,True,False,False,False,True
300,68,144,193,141,3.4,0,True,False,False,True,...,False,False,True,True,False,True,False,False,False,True
301,57,130,131,115,1.2,0,True,True,True,False,...,False,False,False,True,False,True,False,False,False,True
302,57,130,236,174,0.0,0,False,False,True,False,...,False,False,False,False,False,True,False,False,True,False

In [6]:
X = df.drop(['output'],axis=1)
y = df[['output']]

In [7]:
print(X)

     age  trtbps  chol  thalachh  oldpeak  sex_1  exng_1  caa_1  caa_2  caa_3  \
0     63     145   233       150      2.3   True   False  False  False  False
1     37     130   250       187      3.5   True   False  False  False  False
2     41     130   204       172      1.4  False   False  False  False  False
3     56     120   236       178      0.8   True   False  False  False  False
4     57     120   354       163      0.6  False    True  False  False  False
..   ...     ...   ...       ...      ...    ...     ...    ...    ...    ...
298   57     140   241       123      0.2  False    True  False  False  False
299   45     110   264       132      1.2   True   False  False  False  False
300   68     144   193       141      3.4   True   False  False   True  False
301   57     130   131       115      1.2   True    True   True  False  False
302   57     130   236       174      0.0  False   False   True  False  False

     ...   cp_2   cp_3  fbs_1  restecg_1  restecg_2  slp_1  slp_2  thall_1  \
0    ...  False   True   True      False      False  False  False     True
1    ...   True  False  False       True      False  False  False    False
2    ...  False  False  False      False      False  False   True    False
3    ...  False  False  False       True      False  False   True    False
4    ...  False  False  False       True      False  False   True    False
..   ...    ...    ...    ...        ...        ...    ...    ...      ...
298  ...  False  False  False       True      False   True  False    False
299  ...  False   True  False       True      False   True  False    False
300  ...  False  False   True       True      False   True  False    False
301  ...  False  False  False       True      False   True  False    False
302  ...  False  False  False      False      False   True  False    False

     thall_2  thall_3
0      False    False
1       True    False
2       True    False
3       True    False
4       True    False
..       ...      ...
298    False     True
299    False     True
300    False     True
301    False     True
302     True    False

[303 rows x 22 columns]

In [8]:
#lý do encode là để d

scaler = RobustScaler()

X[con_cols] = scaler.fit_transform(X[con_cols])